MESample/.godot
MESample/Source/.cache
MESample/Source/build
MESample/Source/vc140.pdb
MESample/Source/.sconsign.dblite
MESample/Source/compile_commands.json
MESample/*.code-workspace
MESample/*.uid
/.build-logs
/Apks
/MESample/Pck/game.pck
/MESample/bin/libMESample.android.template_release.arm64.so
/MESample/.godot
/.setup-user-env.cmd
/MESample/license.dat
/MESample/pubkey.pub
/archive/
__pycache__/
pck-opt-out/
/pck-opt-out-20260702
*.bak
mem-opt-out/
/cleanread
/.agents
